@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: "inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;    
    
}
.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.text--purple {
    color: #6415ff
}
h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}
.strong {
    font-weight: 700;
}

/*NAVIGATION*/
nav {
    display: flex;
    justify-content: space-between;
    margin: 16px 16px;
}
.logo {
    display: flex;
    align-items: center;
}
.nav__links {
    display: flex;
    flex-direction: row;
    margin: 0 24px;
}
.links {
    padding: 0 16px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.logo__fig {
    width: 40px;
    margin-right: 12px;
}

.sign-up {
    background-color:#6415ff;;
    color: white;
    border-radius: 9999px;
    padding: 10px 32px;
}
/* Header */


.header__para {
    width: 100%;
    display: flex;
    align-items: center;
}
.customers--wrapper {
    width: 40%;
}
.header__customers--img {
    width: 100%;
}
.header__img--wrapper {
    overflow: hidden;
    width: 60%;
}
.header__img {
    width: 100%;
}




